﻿@model CascadeDropdownList.Models.PaisDepartamentoCiudadViewModel
<br />
<br />
<div class="container">
    <div class="form-group">
        @if (ViewBag.PaisList != null)
        {
            @Html.DropDownListFor(Model => Model.PaisId, ViewBag.PaisList as SelectList, " Seleccione el pais... ", new { @class = "form-control" })
        }
    </div>
    <div class="form-group">
        @Html.DropDownListFor(Model => Model.DepartamentoId, new SelectList(" "), " Seleccione el departamento... ", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.DropDownListFor(Model => Model.CiudadId, new SelectList(" "), " Seleccione la Ciudad... ", new { @class = "form-control" })
    </div>
</div>
<div id="example">
    <div class="demo-section k-content" style="text-align: center;">
        <h4>Disable weekends</h4>
        <div id="weekend-calendar"></div>

        <h4 style="margin-top:1em">Disable Federal Holidays in USA in 2015</h4>
        <div id="national-holidays"></div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#PaisId").change(function () {
            $.get("/Home/GetDepartamentoList", { PaisId: $("#PaisId").val() }, function (data) {
                $("#DepartamentoId").empty();
                $("#DepartamentoId").append("<option value='0'> Seleccione el departamento... </option>")
                $.each(data, function (index, row) {
                    $("#DepartamentoId").append("<option value='" + row.id + "'>" + row.nombre + "</option>")
                });
            });
        });
        $("#DepartamentoId").change(function () {
            $.get("/Home/GetCiudadList", { DepartamentoId: $("#DepartamentoId").val() }, function (data) {
                $("#CiudadId").empty();
                $("#CiudadId").append("<option value='0'> Seleccione la ciudad... </option>")
                $.each(data, function (index, row) {
                    $("#CiudadId").append("<option value='" + row.id + "'>" + row.nombre + "</option>")
                });
            });
        });

        $("#weekend-calendar").kendoCalendar({
            disableDates: ["sa", "su"]
        });

        $("#national-holidays").kendoCalendar({
            value: new Date("1/2/2015"),
            dates: [
                new Date("1/1/2015"),
                new Date("1/19/2015"),
                new Date("2/16/2015"),
                new Date("4/16/2015"),
                new Date("5/10/2015"),
                new Date("5/25/2015"),
                new Date("6/21/2015"),
                new Date("7/3/2015"),
                new Date("9/7/2015"),
                new Date("10/12/2015"),
                new Date("11/11/2015"),
                new Date("11/26/2015"),
                new Date("11/27/2015"),
                new Date("12/25/2015")
            ],
            disableDates: function (date) {
                var dates = $("#national-holidays").data("kendoCalendar").options.dates;
                if (date && compareDates(date, dates)) {
                    return true;
                } else {
                    return false;
                }
            }
        });

        function compareDates(date, dates) {
            for (var i = 0; i < dates.length; i++) {
                if (dates[i].getDate() == date.getDate() &&
                    dates[i].getMonth() == date.getMonth() &&
                    dates[i].getYear() == date.getYear()) {
                    return true
                }
            }
        }
    });
</script>